table {
    width: 100%;
  }

.buttonIcons{
    margin: 4px;
}

::ng-deep .mat-column-tipo {
  text-align: center !important; 
  justify-content: center !important;
}


button[disabled] {
  color: rgba(118, 118, 118, 0.99) !important; /* Rojo con opacidad */
  background-color: rgba(0, 0, 0, 0.1) !important; /* Fondo rojo claro */
  cursor: not-allowed; /* Cambia el cursor */
}