.vehicle-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    max-width: 500px;
    padding: 0px;
  }
  
  .vehicle-card img {
    width: 100%; /* Hace que la imagen ocupe todo el ancho */
    height: auto;
    display: block;
    object-fit: cover; /* Evita espacios blancos y recorta si es necesario */
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 6px;
    font-size: 12px;
    text-align: left;
  }
  

  .vehicle-card.disabled {
    opacity: 0.5; /* Reduce la visibilidad */
    pointer-events: none; /* Bloquea interacciones */
    filter: grayscale(100%); /* Convierte la imagen en escala de grises */
  }